body{
	background-image: url('bng-1.jpg');
	margin: 0;
	transition: 1s all;
}
text{
    font-family: 'Poiret One', cursive;
}
#overlay {
    position   : absolute;
    top        : 0;
    left       : 0;
    width      : 100%;
    height     : 100%;
    background : #000000;
    opacity    : 0;
    z-index    : 1100;
    display    : none;
}
#top_menu{
	position: absolute;
	top: 0;
}
#top_menu button{
	margin-top: 0;
	z-index:10;
	position: absolute;
	text-align: center;
	background: transparent;
	color: white;
	border-radius: 0px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	box-shadow: 0px 0px 54px 2px rgba(0,0,0,0.5);
}
select {
    -webkit-appearance: none;
    padding: 7px 10px;
    background: transparent;
    color: black;
    border-radius: 4px;
    width: 100%
    outline: none;
}
button{
	cursor: pointer;
	letter-spacing: 2px;
	outline:none;
	font-size: 20px;
	border: none;
	font-family: 'Poiret One', cursive;
}
path.route {
    fill: none;
    stroke-width: 1px;
}

#ctx_menu text {
    font-size: 14px;
    font-weight: bold;
}

.ctx_menu_bg {
    fill: rgba(225,225,225,0.6);
    stroke: rgb(100,100,100);
    stroke-width: 3;
}

.ctx_menu_button {
    fill: rgba(255, 255, 255, 0.6);
}

.popup{
    z-index: 1200;
    opacity: 0;
    display: none;
    position: absolute;
    width: 20vw;
    min-width: 200px;
    left: 40vw;
    border-radius: 5px;
    font-family: 'Poiret One', cursive;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    top:40vh;
    background-color: rgba(255,255,255,0.9);
}
.popup p{
	padding: 0px 5px;
    margin-bottom: 28px;
	text-align: center;
    font-size: 24px;
    color: black;
}
.popup button{
    cursor: pointer;
    bottom:0;
    color: #0099cc;
    font-size: 24px;
    padding: 10px;
    border: none;
    width: 100%;
    background:transparent;
    border-top: 1px solid #bbb;
}
#dfg_loader button{
    width: 50%;
    border-bottom-left-radius: 5px;
}
#dfg_loader #submit {
    float: left;
    left: 0;
}
#dfg_loader #cancel {
    border-left: 1px solid #bbb;
    left: 50%;
}
#dfg_list_wrapper{
	width: 40%;
	/*padding-bottom: 30px;*/
	background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 92% 0;
	background-color: gainsboro;
	border-radius: 4px;
	margin: auto;
	margin-bottom: 30px; 
}
#legend_toggle{
	position: absolute;
	left: 0;
    top: 20vh;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
	transition: 0.3s all;
	font-size: 20px;
	text-align: center;
	color:white;
	width:20px;
	height: 20px;
	box-shadow: 10px 0px 20px -4px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}
#legend_board {
    border-radius: 0 5px 5px 0;
	box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.2);
	position: absolute;
    left: -120px;
	width:140px;
	top:20vh;
	background-color: rgb(0,90,123);
    transition: 0.3s all;
}
#dfg_svg {
    margin-left: 5vw;
}
#canvas {
    margin-top: 80px;
}
